/node_modules
/public/exports
/storage/exports
/public/hot
/public/js/vendor.js
/public/js/app.js
/public/storage
/public/expores
/storage/*.key
/storage/app/monitor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.config
go.sum
go.mod
